/* styles.css */

  .custom-comment-input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #000;
      border-radius: 0;
      padding: 5px;
      width: 100%;
      outline: none;
      font-size: 16px;
      background-color:#f7f9fb;

    }
    
  .custom-submit-button {
    width: 55px;
    height: 40px;
    border: none;
    background-color: #f7f9fb;
    color: rgb(49, 130, 237);
    /* #666768 */
    border-radius: 5px;
    font-size: 30px;
    
  }

  .custome-detail-comment {
    margin-left: 15px;
  }

  .comments-section {
    max-height: 200px; /* Set a maximum height for the comments section */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
  }
  